<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date %>
  </div>

  <div class="field">
    <%= f.label :complete %><br>
    <%= f.check_box :complete %>
  </div>

    <h1>Tasks</h1>

    <%= fields_for @task do |ft| %>

        <div class="field">
        <%=ft.label :name %><br>
        <%=ft.text_field :name %>
        </div>

        <div class="field">
        <%=ft.label :description %><br>
        <%=ft.text_field :description %>
        </div>

        <div class="field">
        <%=ft.label :complete %><br>
        <%=ft.check_box :complete %>
        </div>

    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
