<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @job.due_date %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @job.complete %>
</p>

<P>
  <strong>Job Tasks</strong>

<h1>List of jobs Tasks</h1>
<% @job.tasks.each_with_index do |task, index| %>
    <%= fields_for "tasks[#{index}]", task do |ft| %>

    <div class="field">
      <%=ft.label :name %><br>
      <%=ft.text_field :name %>
    </div>

    <div class="field">
      <%=ft.label :description %><br>
      <%=ft.text_field :description %>
    </div>

    <div class="field">
      <%=ft.label :complete %><br>
      <%=ft.check_box :complete %>
    </div>
</p>

    <% end %>

<% end %>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
